
<style>
body{
    background: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)   
    )
    ,url("/banner1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    color:white;
    font-weight: bold;
}

</style>

<div class="row">
<div class= "col-xs-12">

    <h1>Contáctenos</h1>
    <br> <br> 
</div> 
</div>
<div class="row">
<div class= "col-xs-2">
<!--
    <div class="panel panel-default">
        <div class="panel-body">
        <p>columna1</p>
        </div>
    </div>
-->
</div>
<div class= "col-xs-8">
    <div class="panel panel-default">
        <div class="panel-heading paneltitle">
          <h3 class="panel-title">Teléfonos:</h3>
        </div>
        <div class="panel-body">
        <ul>
            <li> 261-7237</li>
            <li>6349-5667</li>
            <li>6205-0643</li>
         </ul> 
        </div>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading paneltitle">
            <h3 class="panel-title">Correo electrónico:</h3>
            </div>
        <div class="panel-body">
      <p>consultorvelarde@gmail.com</p>
    </div>
</div>
</div> 
<div class= "col-xs-2">
<!--
   <div class="panel panel-default">
    <div class="panel-body">
     <p>columna3</p>
    </div>
-->
</div>
</div> 
</div>  