


<style>
    body{
        background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)   
        )
        ,url("/bg2.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    h1{
        color:white
    }

</style>
<div class="row">
<div class= "col-xs-2">

</div>
<div class= "col-xs-8">
<h1>Bienvenidos </h1>
          <p class= "textoinicio">
          <b>V&I</b> es una organización que cuenta con las herramientas 
          y un equipo de psicólogos capacitado para brindarle la 
          respuesta que usted necesita en Reclutamiento, Selección de 
          personal y Aplicación de Pruebas Psicológicas.
          </p>
        <p class= "footerinicio">Sé el cambio que deseas ver en el mundo.</p>
</div> 
<div class= "col-xs-2">
</div>
</div> 
</div>  