<div class="row">
<div class= "col-xs-12">
    <div class="jumbotron bannerjumbo">
    <h1>Conócenos</h1>
    </div>
</div> 
</div>
<div class="row">
<div class= "col-xs-2">
    <div class="panel panel-default">
        <div class="panel-body">
        <p>columna1</p>
        </div>
    </div>
</div>
<div class= "col-xs-8">
    <div class="panel panel-default">
        <div class="panel-heading paneltitle">
          <h3 class="panel-title">Visión</h3>
        </div>
        <div class="panel-body">
          <p>Ser una empresa que provea a sus clientes de los recursos
           necesarios para la gestión de Recursos Humanos generando confianza y 
           fidelidad de sus clientes.</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading paneltitle">
            <h3 class="panel-title">Misión</h3>
        </div>
        <div class="panel-body">
            <p>Proveer a las empresas del asesoramiento, sistemas de reclutamiento
             y selección para incrementar la eficiencia de las empresas y el retorno
              de la inversión.
              </p>
        </div>
</div>
</div> 
<div class= "col-xs-2">
   <div class="panel panel-default">
    <div class="panel-body">
     <p>columna3</p>
    </div>
</div>
</div> 
</div>  