<div class="row">
<div class= "col-xs-12">
    <div class="jumbotron bannerjumbo">
    <h1>Reclutamiento y Selección de Personal</h1>
    </div>
</div> 
</div>
<div class="row">
<div class= "col-xs-4">
    <div class="panel panel-default">
        <div class="panel-body">
       <!-- <p>columna1</p> --> 
       <img src= "/gente.jpg" height = "100%" width = "100%" >
       </div>
    </div>
</div>
<div class= "col-xs-8">
    <div class="panel panel-default">
        <div class="panel-body">

          <p class="contenido">
          El éxito de una organización está determinado por la forma en que trabajan e interaccionan sus miembros. 
          </p>
          <p class="contenido">
          Por tal motivo, es importante la elección del personal. Personas poco capacitadas provocarán perdidas 
          por errores en los procesos y perdidas en tiempo. De igual manera, personas con caracteres no adecuados 
          pueden causar conflictos, alterando la armonía que debe existir entre los individuos y generando por 
          consiguiente un mal desempeño laboral. 
          </p>
          <p class="contenido"> 
          Los procesos rigurosos de selección y reclutamiento de personal constituyen la mejor forma de lograr el éxito de la organización.
          El papel del psicólogo juega un papel importante y aporta un matiz valioso en esta tarea, por los conocimientos que maneja de 
          los individuos y la forma de relacionarse con otros y consigo mismo.
          </p>

        </div>
    </div>
</div> 

</div>  